*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
    background-image: url('https://images.unsplash.com/photo-1509803874385-db7c23652552?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    position: relative;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
}

#nav h2{
    font-size: 30px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full{
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.149);
    top: 0;
    right: -30%;
    backdrop-filter: blur(20px);
    padding: 100px 50px;
}

#full h4{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: white;
    border-radius: 50%;
    padding: 6px 8px;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
}